.navbar-top{
  background-color: #c5933f!important;
  height: 60px;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#setting{
  margin-left: 1200px;
  text-align: center;
  margin-top: -15px; 
}
.dashboard{
  background: #ecf0f1;
  margin-left: 15.7rem;
  width:79rem;
}
.titre{
  font-size: 30px;
  color: #c5933f!important;
}
.breadcrumb{
  height: 40px;
  display: flex;
}

.listeitem:hover{
  font-size: 30px;
  background-color: #c5933f!important;
}
.listtext:hover{
  color: #fff!important;
}
.listtext{
  font-size: 30px;
}
.btn-success{
  background-color: #c5933f!important;
}
.active{
  color: #c5933f!important;
}

